.interface{
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    transition: grid-template-columns 0.5s ease;
}

.box-bg{ 
   width: 800px;
    height: 600px;
    margin: 30px auto;
    position: relative;
}

.box-bg .img-bateria{
    display: block;
    width: 800px;
    height: 600px;
}

.crash-ride-E img{ 
    position: absolute;
    top: 22.2%; 
    left:16%; 
    transform: rotate(-7.2deg) scale(1.5);
    transition: all ease-in-out .045s;
}

.crash-ride-E button{
    left: 15%;
    top: 15%;
}

.crash-ride-R button{
    left: 28%;
    top: 16%;
}


.hihat-open-I img{
    position: absolute;
    top: 32%; left: 69.6%;
    transform: scale(1.78);
}

.hihat-open-I button{
    left: 66%; 
    top: 28%;
}

.hihat-close-K button{
    left: 85%;
    top: 30%;
}

button{
    position: absolute;
    border: 3px solid gray;
    border-radius: 5px;
    width: 36px; height: 34px;
    font-weight: 800;
}

button:hover{
    cursor: pointer;
    border: none;
}


.caixa-J button{
    left: 70%;
    top: 54%;
}

.bumbo-B button{
    left: 47%;
    top: 65%;
    width: 50px; height: 50px;
}

.tom1-G button{
    left: 38%;
    top: 43%;
}

.tom2-H button{
    left: 58%;
    top: 46%;
}

.tom-low-F button{
    left: 26%;
    top: 64%;
}









